.subjectInfo {
  min-height: 40vh;
  background-color: var(--color-blackTransparent);
  border-radius: 5px;
  margin-top: 7px;
  padding: 0 32px;
}

.active {
  min-height: 8vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editInfoBtn {
  display: flex;
}

.infoBtn {
  margin-left: 1rem;
}

.body {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
}

.keys {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
}

.keys p,
.values p {
  margin: 10px 0 0 0;
}

.values {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
}

.qrCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr {
  background-image: url('https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg');
  background-size: cover;
  width: 130px;
  height: 130px;
}

.text {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}

.text p {
  margin-right: 15px;
}

.icon {
  font-size: 25px;
  color: white;
}

.icon:hover {
  color: var(--color-lightBlue);
}
