.existingUser {
  display: flex;
  margin-top: 12px;
}

.action {
  margin-left: 20px;
}

.icon {
  color: #fff;
  font-size: 18px;
}

.icon:hover {
  color: rgb(255, 36, 36);
}

.iconAccept {
  color: #fff;
  margin-right: 15px;
  font-size: 18px;
}

.iconAccept:hover {
  color: rgb(152, 253, 0);
}
