.lecturesPageAdd {
  width: 100%;
  background-color: var(--color-blackTransparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px 0 0 0;
  padding: 0 2rem 2rem 2rem;
  min-height: 83vh;
}

.title {
  margin-bottom: 3rem;
}

.form {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.inputGroup:last-child {
  margin-bottom: 3rem;
}

.form label {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.button {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
