@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  color: white;
  width: 90%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Iceland', cursive;
  font-size: 3rem;
}

.list {
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  color: var(--color-textPrimary);
}

.list a:hover,
.list a.active {
  border-bottom: 2px solid var(--color-textPrimary);
}

.button {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
}

.button:hover {
  background-color: var(--color-secondary);
}
