@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.header {
  color: white;
  max-width: 70rem;
  margin: 0 auto;
}

.list {
  display: flex;
  gap: 3rem;
}

.list a {
  text-decoration: none;
  color: var(--color-textPrimary);
}

.list a:hover,
.list a.active {
  border-bottom: 2px solid var(--color-textPrimary);
}

.nav {
  background-color: var(--color-blackTransparent);
  padding: 5px 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: auto;
}
