@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.header {
  color: white;
  max-width: 70rem;
  margin: 0 auto;
}

.list {
  display: flex;
  gap: 3rem;
}

.list a {
  text-decoration: none;
  color: var(--color-textPrimary);
}

.list a:hover,
.list a.active {
  border-bottom: 2px solid var(--color-textPrimary);
}

.nav {
  background-color: var(--color-blackTransparent);
  padding: 5px 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-left: auto;
}

.profile {
  display: flex;
  align-items: center;
}

.profilePicture {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  background-image: url('../../img/profilePicture.jpg');
}
